services:
  mosquitto:
    build: .
    image: my-eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883" # MQTT (Unencrypted)
      - "8883:8883" # MQTTS (TLS)
      - "4000:3000" # Web UI (HTTP) - Mapped to host port 4000
      - "3001:3001" # Web UI (HTTPS)
      - "9001:9001" # MQTT over WebSockets
      - "8884:8884" # MQTTS over WebSockets
    environment:
      - WEB_USERNAME=admin
      - WEB_PASSWORD=admin
      - DATA_DIR=/mymosquitto
    volumes:
      - ./mymosquitto:/mymosquitto
