services:
  mosquitto:
    build: .
    image: my-eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883" # MQTT (Unencrypted)
      - "8883:8883" # MQTTS (TLS)
      - "3000:3000" # Web UI (HTTP)
      - "3001:3001" # Web UI (HTTPS)
    environment:
      - WEB_USERNAME=admin
      - WEB_PASSWORD=admin
    volumes:
      - ./mymosquitto:/mymosquitto
