services:
  mosquitto:
    build: .
    image: my-eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "8883:8883"
      - "3000:3000"
      - "9001:9001"
      - "8884:8884"
    environment:
      - WEB_USERNAME=admin
      - WEB_PASSWORD=admin
      - DATA_DIR=/mymosquitto
    volumes:
      - ./mymosquitto:/mymosquitto
